<div class="container">
  <h1 class="mb-4">Welcome to Nighthawk Angular Devkit</h1>
  <p>
    This project was made with &heartsuit; by the
    <a href="https://evenux.com" target="_blank">EVENUX</a> team, we hope you
    have fun coding! For documentation and other information, visit
    <a href="https://nighthawk.evenux.com/">this page</a>...
  </p>
  <p class="mb-5">
    PS. If you would like to, you can donate to us via
    <a href="https://paypal.me/henrikwesterholm" target="_blank"
      >this PayPal link.</a
    >
  </p>

  <p class="mb-2">With best wishes,</p>
  <p class="highlight">Henrik Westerholm.</p>
</div>
